/*CODE HERE*/

body {
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

.container {
  padding: 0px;
}

.banner {
  background-color: gold;
  margin-top: 40px;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 0px;
}

.main-input-section {
  height: 150px;
  margin-top: 50px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

form {
  width: 400px;
  top: 50%;
  margin: 0 auto;
}

.edit {
  float: right;
}

.delete {
  float: left;
  border: 0px;
  padding: 0px;
  margin-right: 5px;
}

.delete :hover {
  color: gold;
}

.eat {
  padding: 0 23px;
  border-right: 2px solid black;
}

.watch {
  padding: 0 23px;
  border-right: 2px solid black;
}

.read {
  padding: 0 23px;
  border-right: 2px solid black;
}

.buy {
  padding: 0 23px;
}

.card {
  border: none;
}

.card-body {
  padding: 10px;
  border-radius: 0px;
  border-bottom: 1px solid black;
}
