/*CODE HERE*/

$primary-color: gold;

body {
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

.container {
  padding: 0px;
}

.banner {
  background-color: $primary-color;
  margin-top: 40px;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 0px;
}

h5 {
  margin: 5px 0 15px;
}

//-------------------- Form Styling --------------------//

.main-input-section {
  height: 100px;
  margin-top: 50px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

form {
  width: 400px;
  top: 50%;
  margin: 0 auto;
}

#todo-input {
    height: 38px;
    width: 316px;
    border-radius: 2px;
}

.btn {
  float: right;
  background-color: slategray;
  border-color: black;
}

//-------------------- Button Styling --------------------//

.edit-button {
  float: right;
  border: 0px;
  padding: 0px;
  color: white;
}

.card :hover .edit-button{
  color: $primary-color;
}

.delete {
  float: left;
  border: 0px;
  padding: 0px;
  margin-right: 5px;
}

.delete :hover {
  color: $primary-color;
}

//-------------------- List Styling --------------------//

.col {
  padding: 0 23px;
}

%border-divide {
  border-right: 2px solid black;
}

.eat {
  @extend %border-divide;
}

.watch {
  @extend %border-divide;
}

.read {
  @extend %border-divide;
}

//-------------------- Card Styling --------------------//

.card {
  border: none;
}

.card-body {
  padding: 10px;
  border-radius: 0px;
  border-bottom: 1px solid black;
}

.row {
 min-height: 250px;
}
.error {
  color: red;
}
